<footer class="fixed bottom-0 left-0 w-full sm:left-64 sm:w-[calc(100%-16rem)]
               z-20 p-2 bg-neutral-primary-soft border-t border-default shadow-sm
               md:flex md:items-center md:justify-between md:p-3">
  <span class="text-xs text-body sm:text-center">
    © 2025 France Pare brise™. AssurOnline.
  </span>
  <ul class="flex flex-wrap items-center mt-1 text-xs font-medium text-body sm:mt-0">
    <li><a href="#" class="hover:underline me-2 md:me-3">Sharepoint</a></li>
    <li><a href="#" class="hover:underline me-2 md:me-3">Mentions légales</a></li>
    <li><a href="#" class="hover:underline">Contact</a></li>
  </ul>
</footer>