<div class="relative">
    <!-- Spinner Overlay -->
    @if (isLoading()) {
    <comp-loader></comp-loader>
    }

    <!-- Error Alert -->
    @if (errorMessage()) {
    <comp-alert-error [message]="errorMessage()"></comp-alert-error>
    }

    <form [formGroup]="compteForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <h1 class="text-lg font-bold text-gray-900 dark:text-white">
            <span class="text-transparent bg-clip-text text-gradient-sg">Informations</span> sur la société
        </h1>

        <!-- Siret / TVA Intra -->
        <div class="grid gap-4 mb-3 md:grid-cols-2">
            <div>
                <label for="siret" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Numéro Siret
                    *</label>
                <input type="text" id="siret" formControlName="siret" (blur)="onSiretBlur()"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="12345678901234">
                @if (compteForm.get('siret')?.invalid && compteForm.get('siret')?.touched) {
                <div class="text-red-600 text-sm mt-0.5">
                    Siret requis.
                </div>
                }
            </div>
            <div>
                <label for="tvaIntra" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Numéro de
                    TVA Intracommunautaire</label>
                <input type="text" id="tvaIntra" formControlName="tvaIntra"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
        </div>

        <!-- Nom Société -->
        <div class="mb-3">
            <label for="nomSociete" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Nom de la
                société *</label>
            <input type="text" id="nomSociete" formControlName="nomSociete"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (compteForm.get('nomSociete')?.invalid && compteForm.get('nomSociete')?.touched) {
            <div class="text-red-600 text-sm mt-0.5">
                Nom requis.
            </div>
            }
        </div>

        <!-- Adresse -->
        <div class="mb-3">
            <label for="adresse" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Adresse
                *</label>
            <input type="text" id="adresse" formControlName="adresse"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            @if (compteForm.get('adresse')?.invalid && compteForm.get('adresse')?.touched) {
            <div class="text-red-600 text-sm mt-0.5">
                Adresse requise.
            </div>
            }
        </div>

        <!-- CP / Ville -->
        <div class="grid gap-4 mb-3 md:grid-cols-2">
            <div>
                <label for="codePostal" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Code
                    Postal *</label>
                <input type="text" id="codePostal" formControlName="codePostal"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (compteForm.get('codePostal')?.invalid && compteForm.get('codePostal')?.touched) {
                <div class="text-red-600 text-sm mt-0.5">
                    CP requis.
                </div>
                }
            </div>
            <div>
                <label for="ville" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Ville
                    *</label>
                <input type="text" id="ville" formControlName="ville"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                @if (compteForm.get('ville')?.invalid && compteForm.get('ville')?.touched) {
                <div class="text-red-600 text-sm mt-0.5">
                    Ville requise.
                </div>
                }
            </div>
        </div>

        <!-- Code NAF / Activité -->
        <div class="grid gap-4 mb-3 md:grid-cols-2">
            <div>
                <label for="codeNaf" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Code
                    NAF</label>
                <input type="text" id="codeNaf" formControlName="codeNaf"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div>
                <label for="activitePrincipale"
                    class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Activité principale</label>
                <input type="text" id="activitePrincipale" formControlName="activitePrincipale"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
        </div>

        <!-- Rayon / Filiales -->
        <div class="grid gap-4 mb-3 md:grid-cols-2">
            <div>
                <label for="rayonAction" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Rayon
                    d'action</label>
                <input type="text" id="rayonAction" formControlName="rayonAction"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
            <div>
                <label for="filiales"
                    class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Filiales</label>
                <input type="text" id="filiales" formControlName="filiales"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            </div>
        </div>

        <div class="flex justify-end mt-4 gap-2">
            <button type="button" (click)="onClear()"
                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
                <span>
                    Effacer
                </span>
            </button>
            <button type="submit"
                class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-base text-sm px-4 py-2.5 text-center leading-5">
                <span>
                    Suivant
                </span>
            </button>
        </div>
    </form>
</div>