<button [attr.type]="type" [disabled]="disabled" [class]="classes">
  <span>{{ label }}</span>
</button>
<!-- 
<comp-button
            label="Effacer"
            variant="danger"
            type="button"
            (click)="onClear()">
            </comp-button>
            <comp-button
            label="Suivant"
            variant="primary"
            type="submit">
            </comp-button>
@for (filter of dateFilters; track filter.id) {
  <comp-button
    [label]="filter.label"
    variant="neutral"
    size="sm"
    [active]="dateFilter === filter.id"
    (click)="applyDateFilter(filter.id)"
  ></comp-button>
}
  <comp-button
  label="Éditer"
  variant="link"
  (click)="editFiche(fiche)">
</comp-button>
<comp-button
  [label]="page"
  variant="neutral"
  rounded="none"
  (click)="changePage(page)">
</comp-button>
<comp-button
  label="Suivant"
  variant="neutral"
  rounded="e"
  [disabled]="currentPage === totalPages"
  (click)="changePage(currentPage + 1)">
</comp-button>
<comp-button
  label="Précédent"
  variant="neutral"
  [disabled]="currentPage === 1"
  rounded="s"
  (click)="changePage(currentPage - 1)">
</comp-button>
-->